/* 1111 */
:root {
  --Primary-Brand-Iris: #4d5ae5;
  --Primary-Second-Ocean: #404bbf;
  --primary-title: #2e2f42;
  --primary-text: #434455;
  --hover-footer: #31d0aa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  margin: 0;
  color: var(--primary-text);
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  margin: 0;
  color: #ffffff;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-title);
  margin: 0;
}

p {
  color: var(--primary-text);
  margin: 0;
}

a {
  font-family: inherit;
  padding: 0;
  text-decoration: none;
  color: var(--primary-title);
}

button {
  font-family: inherit;
  border: none;
}

address {
  font-style: normal;
}

input,
textarea {
  font-family: inherit;
  outline: none;
}

.section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 76px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* end1111 */

/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title);
}

.accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--Primary-Brand-Iris);
}

.nav-link {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.nav-list {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-list-item {
}

.nav-list-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--Primary-Second-Ocean);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--Primary-Brand-Iris);
  color: var(--Primary-Second-Ocean);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--Primary-Second-Ocean);
}

.address-link {
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
  justify-content: end;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-list-item {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item:hover,
.address-list-item:focus {
  color: var(--Primary-Second-Ocean);
}

/* header */

/* hero-section */

.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
}

.hero-button {
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--Primary-Brand-Iris);
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--Primary-Second-Ocean);
}

/* hero-section */

/* Our Features */
.features {
}

.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list-item {
  width: 264px;
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.features-icon svg {
  fill: var(--primary-title);
}

.features-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

.features-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* End OF */

/* Team */
.team {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  width: 264px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.content-team {
  padding: 32px 16px;
}

.team-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-title);
  margin-bottom: 8px;
}

.team-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-social-list {
  display: flex;
  column-gap: 24px;
  margin-top: 8px;
}

.social-list-item {
}

.social-icon-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--Primary-Brand-Iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link svg {
  fill: #f4f4fd;
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--Primary-Second-Ocean);
}

/* End Team */

/* portfolio */
.portfolio {
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  padding: 0;
  list-style: none;
}

.portfolio-list-item {
  position: relative;
  overflow: hidden;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  background-color: var(--Primary-Brand-Iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.portfolio-list-item:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px 32px;
}

.portfolio-content {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  padding-bottom: 8px;
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* End Portfolio */

.footer {
  padding: 100px 0;
  background-color: var(--primary-title);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-link {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
  color: #f4f4fd;
}

.footer-social {
  margin-left: 120px;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  column-gap: 16px;
}

.footer-social-item {
}

.footer-social-icon-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--Primary-Brand-Iris);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon-link svg {
  fill: #f4f4fd;
}

.footer-social-icon-link:hover,
.footer-social-icon-link:focus {
  background-color: var(--hover-footer);
}

.footer-sub {
  margin-left: auto;
}

.footer-sub-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-sub-box {
  display: flex;
  column-gap: 24px;
}

.footer-input {
  padding: 8px 0 8px 16px;
  width: 265px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;

  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px #00000026;
  background-color: #2e2f42;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-input:focus {
  border-color: #31d0aa;
}

.footer-input:hover,
.footer-input:focus {
  border-color: #31d0aa;
}

.footer-button {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 24px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  color: #ffffff;
  background-color: var(--Primary-Brand-Iris);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sub-icon {
  fill: #ffffff;
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--hover-footer);
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  max-width: 408px;
  position: relative;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow:
    0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f,
    0px 2px 1px 0px #00000033;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #0000001a;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--Primary-Second-Ocean);
}

.modal-close-btn:hover .modal-close-svg,
.modal-close-btn:focus .modal-close-svg {
  fill: #ffffff;
}

.modal-title {
  height: 24px;
  opacity: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-title);
  margin-bottom: 16px;
}

.modal-form {
}

.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-container {
  position: relative;
  margin: 4px 0 8px 0;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  
}

.modal-checkbox {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 8px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 0 8px 38px;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--Primary-Brand-Iris);
}

.modal-form-icon {
  fill: var(--primary-title);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-container:focus-within .modal-form-icon {
  fill: var(--Primary-Brand-Iris);
}

.modal-form-text {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #2e2f4266;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 16px;
}

.modal-form-text:focus {
  border-color: var(--Primary-Brand-Iris);
}

.modal-form-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #2e2f4266;
}

.checkbox-label {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f4266;
  border-radius: 2px;
  transition:
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  fill: #f4f4fd;
 
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-link {
  text-decoration: underline;
  color: var(--Primary-Brand-Iris);
}

.chekbox-input:checked + .checkbox-label > span {
  background-color: var(--Primary-Second-Ocean);
}

.chekbox-input:checked + .checkbox-label > span > svg {
  opacity: 1;
}

.modal-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: var(--Primary-Brand-Iris);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px #00000026;
  cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--Primary-Second-Ocean);
}
